{% extends 'certificates/base.html' %}
{% block content %}
<h2>Choose Certificate</h2>
<p>Select the certificate you want:</p>
<form method="POST" action="{% url 'submit_request' %}">
  {% csrf_token %}
  <div class="mb-3">
    <select name="cert_type" class="form-select">
      <option value="conduct">Conduct</option>
      <option value="residence">Residence Recognition</option>
      <option value="community">Community Engagement</option>
      <option value="other">Other</option>
    </select>
    <br>
    <br>
  </div>
  <button class="btn btn-primary" type="submit">Submit request</button>
</form>
<br>
<button onclick="window.history.back()" style="
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
">
  ← Back
</button>


{% endblock %}